
<!DOCTYPE html>
<head>
<title>Todo list</title>
<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

    <div class="nav" style="background-color: black;">
        <ul>
    <li style="font-size:xx-large;padding-left: 0.2cm;padding-right:0.2cm;margin-top:0.2cm; margin-left:0.2cm;box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 6px 20px 20px rgba(0, 0, 0, 0.19);align-self: center;"><a href="/Home">To-do List</a></li>
    
  </ul>
    </div>
  
    <div class="todo-container">
        <h2>Welcome</h2>
        <div class="todo">

            
            
            <button class="button" style="width:5cm;border-radius: 5px;font-family: 'Candal', sans-serif; height:1.5cm;text-decoration-color: white; font-size: medium;background-color:#3CEB11;color:white;" ><a href="/signup">Sign Up</a></button>&nbsp;&nbsp;
            <button class="button" style="width:5cm;border-radius: 5px;font-family: 'Candal', sans-serif;font-size: medium;text-decoration-color: white; height:1.5cm; background-color:#3CEB11;color:white;" ><a href="/login">Login</a></button>

        </div>
        </div>





</body>
















 
