<!DOCTYPE html>
<head>
<title>Todo list</title>
<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>


  <div class="nav" style="background-color: black;">
      <ul>
  <li style="font-size:xx-large;padding-left: 0.2cm;padding-right:0.2cm;margin-top:0.2cm; margin-left:0.2cm;box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 6px 20px 20px rgba(0, 0, 0, 0.19);align-self: center;"><a href="#home">To-do List</a></li>
  
</ul>
  </div>




<div class="todo-container">
<h2>Welcome</h2>
<div class="todo">

<form action="/signup" method="POST" class="todo-header">
<label style="font-size: larger; font-family: 'Candal', sans-serif;">Full Name</label><br>
<input id="full_name" type="text" name="full_name"><br><br>
<label style="font-size: larger; font-family: 'Candal', sans-serif;">Email Id</label><br>
<input id="email" type="text" name="email"><br><br>
<label style="font-size: larger; font-family: 'Candal', sans-serif;">Password</label><br>
<input id="password" type="text" name="password"><br><br>
<input type="submit" value="Sign Up" style="width:3cm; height:1cm; background-color:#3CEB11;color:white; "></button>
</form>
</div>
</div>